// FOOTER::START
footer.footer
  .row
    .footer__col
      .footer__logo
        .icoWrap
          i.ico.ico-logo--white
      .footer__about
        p SOLE is miles ahead of the competition in producing superior fitness products. A quality running shoe is just as important as the treadmill deck or elliptical foot plate itself. In the development of a shoe that is optimal for fitness equipment .
      .footer__copy © 2017 SOLE Treadmills
    // next col
    .footer__col.footer__col--wide
      .footer__menu
        .footer__menu__head компания
        .footer__menu__links
          a(href="#") О нас
          a(href="#") Новости
          a(href="#") Партнеры
          a(href="#") Технологии
          a(href="#") Стать представителем
    // next col
    .footer__col
      .footer__menu
        .footer__menu__head продукция
        .footer__menu__links
          a(href="#") Беговые дорожки
          a(href="#") Эллиптические тренажёры
          a(href="#") Велотренажеры
          a(href="#") Сайклинг
          a(href="#") Аксессуары
    // next col
    .footer__col
      .footer__menu
        .footer__menu__head поддержка
        .footer__menu__links
          a(href="#") FAQ
          a(href="#") Гарантия
          a(href="#") Доставка
    // next col
    .footer__col
      .footer__menu
        .footer__menu__head Присоеденяйтесь
        .footer__menu__links
          a(href="#") Контакты
          .footer__socials
            a(href="#")
              i.ico.ico-social-vk
            a(href="#")
              i.ico.ico-social-fb
            a(href="#")
              i.ico.ico-social-insta

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="js/main.js")
//endbuild
