// HEADER::START
.menuFixed
  .menuFixed__hamb
    a(href="#").icoWrap
      i.ico.ico-hamburger

header.header
  .row
    .header__logo
      a(href="#").icoWrap
        i.ico.ico-logo
    .header__navi
      ul
        li
          a(href='#') О нас
        li
          a(href="#") Продукция
        li
          a(href="#") Поддержка
        li
          a(href="#") Контакты
        li
          a(href="#")
            .header__cart
              .header__cart__counter 0
              i.ico.ico-cart
    .header__phone
      .icoWrap
        i.ico.ico-phone
      span 8 (800) 960-22-11
