doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // COMPARE::START
    .container.container--pad
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        span Сравнение

      .compare
        // top row
        .compare__row
          .compare__col.visible
            .compare__nameBig Сравнение
            .compare__category В списке сравнения: <span> беговые дорожки </span>
            .text-center
              span.btn.btn-white
                i.ico.ico-compare
                span Товаров: 5
              .compare__clear.compare__clear--mobile
                i.ico.ico-clear
                span Очистить список

            .compare__print
              i.ico.ico-print
              span Версия для печати
          .compare__col.visible
            i.ico.ico-delete
            img.compare__image(src="images/compareImg-1.png")
            .compare__itemPrice
              span 45 999
              i.ico.ico-rub
            .compare__itemName SOLE F80
          .compare__col.visible
            i.ico.ico-delete
            img.compare__image(src="images/compareImg-2.png")
            .compare__itemPrice
              span 45 999
              i.ico.ico-rub
            .compare__itemName SOLE F80
          .compare__col.visible
            i.ico.ico-delete
            img.compare__image(src="images/compareImg-3.png")
            .compare__itemPrice
              span 45 999
              i.ico.ico-rub
            .compare__itemName SOLE F80
          .compare__col
            i.ico.ico-delete
            img.compare__image(src="images/compareImg-3.png")
            .compare__itemPrice
              span 45 999
              i.ico.ico-rub
            .compare__itemName SOLE F80

        // next row
        .compare__row
          .compare__col.visible
            .compare__nameBig Характеристики
          .compare__col.visible
            .text-center
              a(href="#").btn.btn-red В корзину
          .compare__col.visible
            .text-center
              a(href="#").btn.btn-red В корзину
          .compare__col.visible
            .text-center
              a(href="#").btn.btn-red В корзину
          .compare__col
            .text-center
              a(href="#").btn.btn-red В корзину
        // next row
        .compare__row.compare__row--controls
          .compare__col.visible
            .ui-toggler
              input(type="radio" name="compare" id="compare_1" checked)
              label(for='compare_1')
                span Все
              input(type="radio" name="compare" id="compare_2")
              label(for='compare_2')
                span Различающиеся
          .compare__col.visible
          .compare__col.visible
          .compare__col.visible.controllable
            span Показать еще
            i.ico.ico-nav-prev
            i.ico.ico-nav-next.active
          .compare__col

        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Тип дорожки
            p Скорость
            p Мощность двигателя
            p Беговое полотно
          .compare__col.visible
            p полукоммерческая эксплуатация
            p 0.8-20 км/ч
            p 4.0 л.с.
            p 4-х слойное, усиленное
          .compare__col.visible
            p полукоммерческая эксплуатация
            p 0.8-20 км/ч
            p 4.0 л.с.
            p 4-х слойное, усиленное
          .compare__col.visible
            p полукоммерческая эксплуатация
            p 0.8-20 км/ч
            p 4.0 л.с.
            p 4-х слойное, усиленное
          .compare__col
            p полукоммерческая эксплуатация
            p 0.8-20 км/ч
            p 4.0 л.с.
            p 4-х слойное, усиленное
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Размер бегового полотна (ДхШ)
          .compare__col.visible
            p 152 х 56 см
          .compare__col.visible
            p 152 х 56 см
          .compare__col.visible
            p 152 х 56 см
          .compare__col
            p 152 х 56 см
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Регулировка угла наклона
            p Наклон бегового полотна
            p Дека
            p Система амортизации
            p Измерение пульса
            p Консоль
          .compare__col.visible
            p автоматическая
            p -6%-15%
            p 18 мм с системой шумопоглащения
            p Cushion Flex Shock Absorption
            p сенсорные датчики, кардиопояс(опция)
            p 10.1” TFT дисплей
          .compare__col.visible
            p автоматическая
            p -6%-15%
            p 18 мм с системой шумопоглащения
            p Cushion Flex Shock Absorption
            p сенсорные датчики, кардиопояс(опция)
            p 10.1” TFT дисплей
          .compare__col.visible
            p автоматическая
            p -6%-15%
            p 18 мм с системой шумопоглащения
            p Cushion Flex Shock Absorption
            p сенсорные датчики, кардиопояс(опция)
            p 10.1” TFT дисплей
          .compare__col
            p автоматическая
            p -6%-15%
            p 18 мм с системой шумопоглащения
            p Cushion Flex Shock Absorption
            p сенсорные датчики, кардиопояс(опция)
            p 10.1” TFT дисплей
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Показания консоли
          .compare__col.visible
            p время тренировки, пройденная дистанция, пульс, калории, скорость, уровень подъема, профиль программы
          .compare__col.visible
            p время тренировки, пройденная дистанция, пульс, калории, скорость, уровень подъема, профиль программы
          .compare__col.visible
            p время тренировки, пройденная дистанция, пульс, калории, скорость, уровень подъема, профиль программы
          .compare__col
            p время тренировки, пройденная дистанция, пульс, калории, скорость, уровень подъема, профиль программы
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Кол-во программ
          .compare__col.visible
            p 10 (в.ч. 2 пульсозависимые)
          .compare__col.visible
            p 10 (в.ч. 2 пульсозависимые)
          .compare__col.visible
            p 10 (в.ч. 2 пульсозависимые)
          .compare__col
            p 10 (в.ч. 2 пульсозависимые)
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Спецификации программ
          .compare__col.visible
            p 6 установленных программ; 2 программы, создаваемые пользователем; 2 кардиопрограммы
          .compare__col.visible
            p 6 установленных программ; 2 программы, создаваемые пользователем; 2 кардиопрограммы
          .compare__col.visible
            p 6 установленных программ; 2 программы, создаваемые пользователем; 2 кардиопрограммы
          .compare__col
            p 6 установленных программ; 2 программы, создаваемые пользователем; 2 кардиопрограммы
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Многоязычный интерфейс
            p Интеграция и Мультимедиа
          .compare__col.visible
            p английский
            p динамики, Bluetooth / Мобильное приложение
          .compare__col.visible
            p английский
            p динамики, Bluetooth / Мобильное приложение
          .compare__col.visible
            p английский
            p динамики, Bluetooth / Мобильное приложение
          .compare__col
            p английский
            p динамики, Bluetooth / Мобильное приложение
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Питание
            p Складывание
            p Габариты (ДхШхВ)
            p Вес
            p Максимальный вес пользователя
          .compare__col.visible
            p 220 В
            p нет
            p 210 х 92 х 147 см
            p 145 кг
            p 182 кг
          .compare__col.visible
            p 220 В
            p нет
            p 210 х 92 х 147 см
            p 145 кг
            p 182 кг
          .compare__col.visible
            p 220 В
            p нет
            p 210 х 92 х 147 см
            p 145 кг
            p 182 кг
          .compare__col
            p 220 В
            p нет
            p 210 х 92 х 147 см
            p 145 кг
            p 182 кг
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Дополнительные характеристики
          .compare__col.visible
            p транспортировочные ролики, подстаканники, вентилятор
          .compare__col.visible
            p транспортировочные ролики, подстаканники, вентилятор
          .compare__col.visible
            p транспортировочные ролики, подстаканники, вентилятор
          .compare__col
            p транспортировочные ролики, подстаканники, вентилятор
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Гарантия
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
        // next row
        .compare__row.compare__row--desktop
          .compare__col.visible
            p Производитель
            p Страна изготовления
            p Доп. опции
          .compare__col.visible
            p Sole
            p Тайвань
            p Да
          .compare__col.visible
            p Sole
            p Тайвань
            p Да
          .compare__col.visible
            p Sole
            p Тайвань
            p Да
          .compare__col
            p Sole
            p Тайвань
            p Да

        // mobile
        .compare__row.compare__row--mobile
          .compare__col.visible
            p Гарантия
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col.visible
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
          .compare__col
            p домашняя эксплуатация - 2 года, полукоммерческая - 1 год
        .compare__row.compare__row--mobile
          .compare__col.visible
            p Производитель
          .compare__col.visible
            p Sole
          .compare__col.visible
            p Sole
          .compare__col.visible
            p Sole
          .compare__col
            p Sole
        .compare__row.compare__row--mobile
          .compare__col.visible
            p Страна изготовления
          .compare__col.visible
            p Тайвань
          .compare__col.visible
            p Тайвань
          .compare__col.visible
            p Тайвань
          .compare__col
            p Тайвань
        .compare__row.compare__row--mobile
          .compare__col.visible
            p Доп. опции
          .compare__col.visible
            p Да
          .compare__col.visible
            p Да
          .compare__col.visible
            p Да
          .compare__col
            p Да

      .compare__clear
        i.ico.ico-clear
        span Очистить список



    include shared/footer.pug
