doctype html
html
  include shared/head.pug

  body.lightBg
    include shared/header.pug

    // CONTACTS::START
    .container
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        span Корзина

      .heading.wrap.mt50
        .heading__name
          h1
            span Оформление заказа
            
      // contacts
      .row.mb50
        .col40.row



    include shared/footer.pug
