doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // FAQ::START
    .container
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        span FAQ

      .heading.wrap.mt50
        .heading__name
          h1
            span Часто задаваемые вопросы
        .heading__datetime 13:51, 21 января 2016

      .row
        .col65
          .faqList
            .faqList__group.is-active
              i.ico.ico-faq-toggle
              .faqList__title Как найти официального представителя Sole Fitness в моем городе?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Могу ли я самостоятельно собрать тренажер или нужен технический специалист?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Условия гарантии?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Что означает полукоммерческая эксплуатация?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Гарантия в случае полукоммерческой эксплуатации
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title В каких случаях гарантия перестает действовать?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Как правильно следить за тренажером?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Как правильно обслуживать тренажер?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Что делать если есть техническая неисправность?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Где и как я могу проконсультироваться или оставить заявку на техническое обслуживание?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Как часто нужно смазывать беговую деку и могу ли я это сделать самостоятельно?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Где находится серийный номер и как он выглядит?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Где можно приобрести нужные детали или провести ремонт после окончания гарантии?
              .faqList__content Вы можете оставить заявку на приобретение тренажера на нашем сайте, заказ будет передан официальному представителю Sole Fitness в Вашем городе.


        //sidebar
        .col35
          img(src="images/faqBanner.png")

    include shared/footer.pug
