doctype html
html
  include shared/head.pug

  body.faqPage
    include shared/header.pug

    // FAQ::START
    .container
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        span Инструкции

      .heading.wrap.mt50
        .heading__name
          h1
            span Инструкции

      .row
        .col65
          .faqList
            .faqList__group.is-active
              i.ico.ico-faq-toggle
              .faqList__title Велотренажеры
              .faqList__content
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole TT100
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Staff Starter F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Staff Starter ЕЕ50
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Беговые дорожки
              .faqList__content
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole TT100
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download

            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Горизонтальные велотренажеры
              .faqList__content
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole TT100
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Вертикальные велотренажеры
              .faqList__content
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole TT100
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
            // next
            .faqList__group
              i.ico.ico-faq-toggle
              .faqList__title Горизонтальные велотренажеры
              .faqList__content
                .tableRow
                  .tableRow__left Велотренажер Sole F85
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download
                // table row
                .tableRow
                  .tableRow__left Велотренажер Sole TT100
                  .tableRow__middle
                  .tableRow__right
                    a(href="#")
                      span Скачать инструкцию
                      i.ico.ico-download

        //sidebar
        .col35
          .banner
            a(href="#").btn.btn--white.btn--outline Скачать каталог

    include shared/footer.pug
