doctype html
html
  include shared/head.pug

  body
    // FIXED NAV::START
    .menuFixed
      .menuFixed__hamb
        a(href="#").icoWrap#menuDropOpen
          i.ico.ico-hamburger
      .menuFixed__logo
        a(href="#").icoWrap
          i.ico.ico-logo-bowflex
      .menuFixed__logo
        a(href="#").icoWrap
          i.ico.ico-logo-schwinn
      .menuFixed__logo
        a(href="#").icoWrap
          i.ico.ico-logo-bowflex
      .menuFixed__logo
        a(href="#").icoWrap
          i.ico.ico-logo-schwinn

    .menuDrop
      .menuDrop__top
        a(href="#")
          i.ico.ico-logo.ico-logo--white
        a(href="#")#menuDropClose
          i.ico.ico-close
      .menuDrop__cart
        a(href="#")
          .menuDrop__cart__wrap
            .menuDrop__cart__counter 0
            i.ico.ico-cart.ico-cart--white
          span КОРЗИНА
        i.ico.ico-long-arrow-left
      .menuDrop__navi
        ul
          li
            a(href='#') О нас
          li
            a(href="#") Продукция
          li
            a(href="#") Поддержка
          li
            a(href="#") Контакты

      .menuDrop__socials
        a(href="#")
          i.ico.ico-social-vk
        a(href="#")
          i.ico.ico-social-fb
        a(href="#")
          i.ico.ico-social-insta

        i.ico.ico-long-arrow-down

      .menuDrop__logos
        a(href="#")
          img(src="images/Bowflex_logo.png").menuDrop__logos__boflex
        a(href="#")
          img(src="images/Schwinn-logo.png").menuDrop__logos__schwinn
        a(href="#")
          img(src="images/Schwinn-logo.png").menuDrop__logos__schwinn
        a(href="#")
          img(src="images/Bowflex_logo.png").menuDrop__logos__boflex
        a(href="#")
          img(src="images/Bowflex_logo.png").menuDrop__logos__boflex
        a(href="#")
          img(src="images/Schwinn-logo.png").menuDrop__logos__schwinn

    // HEADER::START
    header.header
      .row
        .header__logo
          a(href="#").icoWrap
            i.ico.ico-logo
        .header__navi
          ul
            li
              a(href='#') О нас
            li
              a(href="#") Продукция
            li
              a(href="#") Поддержка
            li
              a(href="#") Контакты
            li
              a(href="#")
                .header__cart
                  .header__cart__counter 0
                  i.ico.ico-cart
        a(href="tel:").header__phone
          .icoWrap
            i.ico.ico-phone
          span 8 (800) 960-22-11


    // VIDEO::START
    section.video
      .row.jcc.wrap
        .videoMainpage
          .icoWrap
            i.ico.ico-play#startVideo
          img(src="images/hero-video.png")
          .videoMainpage__video
            video(autoplay="autoplay" poster='video/sole_07.jpg', style='width:100%', title='sole_07')
              source(src='video/sole_07.m4v', type='video/mp4')
              source(src='video/sole_07.webm', type='video/webm')

    // HEADING
    .heading.heading--fluid
      .heading__name
        span Продукция

    // PRODUCTIONS
    section.productsMainpage
      .row.wrap
        a(href="#").productsMainpage__card.productsMainpage__card--muted
          .productsMainpage__card__name Эллиптические тренажеры
          img(src="images/mainpageProduct-1.png")
        a(href="#").productsMainpage__card
          .productsMainpage__card__name Беговые дорожки
          img(src="images/mainpageProduct-2.png")
        a(href="#").productsMainpage__card.productsMainpage__card--muted
          .productsMainpage__card__name Сайклинг
          img(src="images/mainpageProduct-3.png")
        a(href="#").productsMainpage__card.productsMainpage__card--rightText
          .productsMainpage__card__name Горизонтальные велотренажеры
          img(src="images/mainpageProduct-4.png")
        a(href="#").productsMainpage__card.productsMainpage__card--muted.productsMainpage__card--rightText
          .productsMainpage__card__name Вертикальные велотренажеры
          img(src="images/mainpageProduct-5.png")
        a(href="#").productsMainpage__card.products.productsMainpage__card--red
          .btn.btn--white.btn--outline Скачать каталог

    // HEADING
    .heading.heading--fluid
      .heading__name
        span Технологии

    //TECHNOLOGIES SLIDER
    section.textSection
      .row
        .owl-carousel#owlTechMainpage
          // slide
          .textSection__slide
            .textSection__content
              .textSection__title Полный контроль над тренировкой
              .textSection__description
                p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
              .textSection__image.textSection__image--mobile
                img(src="images/technologies.png")
              .textSection__cta
                a(href="#") Узнайте больше
            .textSection__image
              img(src="images/technologies.png")
          // next slide
          .textSection__slide
            .textSection__content
              .textSection__title Полный контроль над тренировкой
              .textSection__description
                p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
              .textSection__image.textSection__image--mobile
                img(src="images/technologies.png")
              .textSection__cta
                a(href="#") Узнайте больше
            .textSection__image
              img(src="images/technologies.png")
          // next slide
          .textSection__slide
            .textSection__content
              .textSection__title Полный контроль над тренировкой
              .textSection__description
                p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
              .textSection__image.textSection__image--mobile
                img(src="images/technologies.png")
              .textSection__cta
                a(href="#") Узнайте больше
            .textSection__image
              img(src="images/technologies.png")

    // PROMO::START
    section.promoMainpage
      .row
        .promoMainpage__content
          .heading
            .heading__name
              span Sole для Фитнес Студий
          .promoMainpage__title Ваша цель ближе, чем вы думаете.
          .promoMainpage__description Тренажеры компании отвечают высоким стандартам качества и функциональности.
          a(href="#").btn.btn-red Подробнее
        .promoMainpage__image
          img(src="images/promoMainpage.png")

    // AWARDS
    section.textSection.textSection--awards.mt100
      .row
        .textSection__slide
          .textSection__content
            .heading
              .heading__name
                span Наши награды
            .textSection__title Никаких трюков. Только заслуги.
            .textSection__image.textSection__image--mobile
              img(src="images/awwards.png")
            .textSection__description
              p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
            .textSection__cta
              a(href="#") Узнайте больше
          .textSection__image
            img(src="images/awwards.png")

    //SHOP::START
    section.shopGoods
      .heading.heading--noBorder.heading--center
        .heading__name
          i.ico.ico-cart.ico-cart--red
          span Интернет магазин
      .row.jcsb.mt90
        .owl-carousel.centrify-dots#owlGoodsMobile
          // card
          .shopGoods__card
            a(href="shop.html")
              img(src="images/productImage-1.png")
            .shopGoods__card__rating
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star.ico-star--blank
              span (6)
            .shopGoods__card__price
              span 20 499
              i.ico.ico-rub
            .shopGoods__card__name Велотренажер E90
            .shopGoods__card__brand SOLE
            .shopGoods__card__cta
              a(href="#").btn.btn-red В корзину
              a(href="#").shopGoods__card__compare
                i.ico.ico-compare
          // card
          .shopGoods__card
            a(href="shop.html")
              img(src="images/productImage-2.png")
            .shopGoods__card__rating
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star.ico-star--blank
              span (6)
            .shopGoods__card__price
              span 20 499
              i.ico.ico-rub
            .shopGoods__card__name Велотренажер E90
            .shopGoods__card__brand SOLE
            .shopGoods__card__cta
              a(href="#").btn.btn-red В корзину
              a(href="#").shopGoods__card__compare
                i.ico.ico-compare
          // card
          .shopGoods__card
            a(href="shop.html")
              img(src="images/productImage-3.png")
            .shopGoods__card__rating
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star.ico-star--blank
              span (6)
            .shopGoods__card__price
              span 20 499
              i.ico.ico-rub
            .shopGoods__card__name Велотренажер E90
            .shopGoods__card__brand SOLE
            .shopGoods__card__cta
              a(href="#").btn.btn-red В корзину
              a(href="#").shopGoods__card__compare
                i.ico.ico-compare
          // card
          .shopGoods__card
            a(href="shop.html")
              img(src="images/productImage-4.png")
            .shopGoods__card__rating
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star.ico-star--blank
              span (6)
            .shopGoods__card__price
              span 20 499
              i.ico.ico-rub
            .shopGoods__card__name Велотренажер E90
            .shopGoods__card__brand SOLE
            .shopGoods__card__cta
              a(href="#").btn.btn-red В корзину
              a(href="#").shopGoods__card__compare
                i.ico.ico-compare

    include shared/footer.pug
