doctype html
html
  include shared/head.pug

  body.newsInnerPage
    include shared/header.pug

    // NEWS::START
    .container.container--pad
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        a(href="#") Новости
        i.ico.ico-crumb-separator
        span Чемпионат Мира по фитнесу 2016 в Белостоке

      .heading.wrap.mt50
        .heading__name
          h1
            span Чемпионат Мира по фитнесу 2016 в Белостоке
        .heading__datetime 13:51, 21 января 2016

      .row
        .col65
          .newsContent
            .news__card__image.news__card__bgFixed
              .news__card__parallaxImg(style="background-image: url('images/newsHero-1.png')")
            .news__card__content
              h2.news__card__title призы и возможность учавствовать на большой сцене
              p Соревнования проходили в эти выходные 12-13 ноября в Белостоке (Польша). Были представлены следующие категории: женский и мужской фитнес, бодифитнес, женский и мужской “физик”, а также элитный кубок менс физик. Чемпионат получился действительно мировым, ведь были участники даже из таких далеких стран как Бразилия, Китай, Южная Африка, Канада, Япония, Австралия, Аргентина…
              .news__card__quote
                p Средняя сумма баллов: 29,66. <b>Судейская коллегия из 5 человек</b>, почетное Первое место отдала именно ей. Анна представляла класс: танцевальная аэробика.
            .news__card__image.news__card__bgFixed
              .news__card__parallaxImg(style="background-image: url('images/newsHero-2.png')")
            .news__card__content
              p Поиск молодых, талантливых людей, желающих презентовать свои мастер-классы на больших сценах. Глобальное развитие фитнес- индустрии в Украине, выход на мировой уровень. В последнее время организация фитнес-конвенций в разных уголках Украины бурно развивается, испытывается резкая нехватка грамотных, перспективных, эмоциональных, энергичных  презентеров. Данный конкурс поможет выявить новые дарования, открывает перспективы для целеустремленных людей.
              h2.news__card__title Благотворительный фитнес-фестиваль.
              p Популярность тестирования тренерского персонала в Украине набирает обороты. Независимый эксперт объективно оценивает уровень знаний тренеров и инструкторов разных направлений и на основе результатов оценки рекомендует необходимое обучение. Фитнес-индустрия бурно развивается, на рынке множество предложений обучения. Как сохранить лидерство и предоставлять услуги высокого качества? Своевременно и объективно оценивать знания и профессиональные навыки сотрудников, обеспечивать их необходимой информацией для сохранения и повышения квалификации. Хотите узнать как? Тогда мы едем к Вам!


              a(href="#").btn.btn-muted.btn--outline.btn--rounded.shareTrigger
                i.ico.ico-share
              .shareArticle
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-vk
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-fb
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-tw
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-plus
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-in
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-pin
                a(href="#")
                  i.ico.ico-sharein.ico-sharein-ok


        //sidebar
        .col35
          .heading.mt50.pl15.heading--noBorder
            .heading__name
              h2
                span Еще новости

          .newsSidebar
            .news__card__datetime 13:51, 21 января 2016
            .news__card__title Чемпионат Мира по фитнесу 2016 в Белостоке
            p Соревнования проходили в эти выходные 12-13 ноября в Белостоке (Польша). Были представлены следующие категории…
            a(href="#")
              span Читать далее
              i.ico.ico-next
          .newsSidebar
            .news__card__datetime 13:51, 21 января 2016
            .news__card__title Чемпионат Мира по фитнесу 2016 в Белостоке
            p Соревнования проходили в эти выходные 12-13 ноября в Белостоке (Польша). Были представлены следующие категории…
            a(href="#")
              span Читать далее
              i.ico.ico-next

    include shared/footer.pug
