doctype html
html
  include shared/head.pug

  body.lightBg.shopPage
    include shared/header.pug

    // PRODUCT::START
    .container.container--mdWide.container--pad
      .breadcrumbs
        a(href="#") Продукция
        i.ico.ico-crumb-separator
        a(href="#") Беговые дорожки
        i.ico.ico-crumb-separator
        span Беговая дорожка Sole TT8

      // contacts
      .row.mt30.mr6
        .col70
          .shopIntro
            .shopIntro__name Беговая дорожка Sole TT8
            .shopIntro__rating
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star.ico-star--blank
            .shopIntro__availability
              span В наличии
              i.ico.ico-stock.ico-stock--yes
            .shopIntro__art
              span Артикул: TT8
            .shopIntro__sticker.productMini__sticker--hot

            .shopIntro__pictures
              .shopIntro__pictures__mini
                .shopIntro__pictures__miniWrap
                  img(src="images/shopMiniPic-1.png" data-src="images/mainpageProduct-2.png").active
                  img(src="images/shopMiniPic-2.png" data-src="images/mainpageProduct-1.png")
                  img(src="images/shopMiniPic-3.png" data-src="images/mainpageProduct-2.png")
                  img(src="images/shopMiniPic-4.png" data-src="images/mainpageProduct-5.png")
                  span(data-src='video/sole_07.m4v' data-type="video")
                    i.ico.ico-video-play
                    span ВИДЕО
                  .shopIntro__pictures__miniWrap__fold
                    i.ico.ico-down-arrow

                  img(src="images/shopMiniPic-3.png" data-src="images/mainpageProduct-2.png").hidden
                  img(src="images/shopMiniPic-4.png" data-src="images/mainpageProduct-5.png").hidden

              .shopIntro__pictures__main
                img(src="images/mainpageProduct-2.png")
            .shopIntro__labels
              i.ico.ico-treadmill

        // right bar
        .col30.flex--mobile
          // credit block
          .shopCta
            .shopCta__wrap.shopCta__wrap--noCenter
              .shopCta__wrapLeft
                i.ico.ico-timer
              .shopCta__wrapRight
                a(href="#modalCredit").modal__trigger Купить в кредит
                .shopCta__wrapRight__price
                  span от
                  span 9 650
                  span руб/мес
                  i.ico.ico-info-tooltip
          // price block
          .shopCta
            .shopCta__row.shopCta__row--border
              .shopCta__rowLeft Цена (руб)
              .shopCta__rowRight
                span.shopCta__mainPrice 90 999
            .shopCta__row
              .shopCta__rowLeft Старая цена
              .shopCta__rowRight
                span.shopCta__oldPrice
                  span 45 999
                  i.ico.ico-rub
            a(href="#").btn.btn-block.btn-red.btn--noBr
              i.ico.ico-cart.ico-cart--white
              span Добавить в корзину

            .shopCta__row
              .shopCta__rowLeft
                span Доставка
                i.ico.ico-info-tooltip
              .shopCta__rowRight <u>Бесплатно</u>
            .shopCta__row
              .shopCta__rowLeft Сборка
              .shopCta__rowRight <u>Бесплатно</u>
            .shopCta__row
              .shopCta__rowLeft Гарантия
              .shopCta__rowRight <b>1 год</b>

            .shopCta__compare
              a(href="#")
                i.ico.ico-compare
                span Добавить к сравнению

          // help block
          a(href="#").shopCta
            .shopCta__wrap
              .shopCta__wrapLeft
                i.ico.ico-comment-box
              .shopCta__wrapRight
                .shopCta__helpTitle нужна помощь с выбором?
                .shopCta__helpDesc Бесплатно проконсультируем!

      // TABS
      .shopTabs.mt50
        .shopTabs__navi
          a(href="#").active информация
          .shopTabs__content.shopTabs__content--mobile.visible
            .container
              .row
                ul
                  li 15.6” Digital TFT LCD
                  li дисплей показывает: время, дистанцию, калории
                  li программы: 6 предустановленных, 3 целевые
                  li развлечения: ТВ, интернет, iOs & Android
                  li предварительная обработка полотна
                  li вентилятор, аудио выход, USB
              h3 О продукте
              p Беговая дорожка ТТ8 предназначена как для использования в домашних условиях, так и в условиях небольших спортзалов. Воплощает в себе оптимальные характеристики моделей профессионального уровня. TT8 сконструирована на усиленной раме из прочного материала, что позволяет тренироваться пользователям с массой тела до 182 кг.
              p Модель оснащена мощным двигателем 4 л.с. с повышенным крутящим моментом, одной из самых эффективных систем амортизации Cushion Flex Whisper Deck и широким беговым полотном, создающим дополнительную безопасность и комфорт.

          a(href="#") Хараткеристики
          a(href="#") преимущества
          a(href="#") отзывы <span>23</span>
          .shopTestimonials.shopTabs__content--mobile
            .container
              h3 Отзывы
              .shopTestimonials__card
                .shopTestimonials__cardLeft
                  .shopTestimonials__card__avatar E
                .shopTestimonials__cardRight
                  .shopTestimonials__card__author Евгений Ротенберг
                  .shopTestimonials__card__datetime 13:51, 21 января 2016
                  .shopTestimonials__card__rating
                    span 5
                    i.ico.ico-star
                    i.ico.ico-star
                    i.ico.ico-star
                    i.ico.ico-star
                    i.ico.ico-star
                  .shopTestimonials__card__name Отзыв
                  .shopTestimonials__card__review Отличная кардионагрузка и укрепление сердечно-сосудистой системы — используя данный тренажер вы стабилизируете кровяное давление, уменьшите риск заболеваний сердца и сосудов, снизите уровень холестерина. Укрепление мышц нижней части тела – ягодиц, ног, бедер. Регулярные тренировки помогут достичь высокого тонуса в мышцах и их подтянутого внешнего вида.
                  a.shopTestimonials__card__more(href="#") Показать все
          a(href="#") инструкции

    // TABS CONTENT
    section.shopTabs__content
      .container
        b КРАТКИЕ ХАРАКТЕРИСТИКИ
        .row
          ul
            li 15.6” Digital TFT LCD
            li дисплей показывает: время, дистанцию, калории
            li программы: 6 предустановленных, 3 целевые
            li развлечения: ТВ, интернет, iOs & Android
            li предварительная обработка полотна
            li вентилятор, аудио выход, USB
          ul
            li 15.6” Digital TFT LCD
            li дисплей показывает: время, дистанцию, калории
            li программы: 6 предустановленных, 3 целевые
            li развлечения: ТВ, интернет, iOs & Android

        a(href="#") Показать все
        hr

        h3 О продукте
        p Беговая дорожка ТТ8 предназначена как для использования в домашних условиях, так и в условиях небольших спортзалов. Воплощает в себе оптимальные характеристики моделей профессионального уровня. TT8 сконструирована на усиленной раме из прочного материала, что позволяет тренироваться пользователям с массой тела до 182 кг.
        p Модель оснащена мощным двигателем 4 л.с. с повышенным крутящим моментом, одной из самых эффективных систем амортизации Cushion Flex Whisper Deck и широким беговым полотном, создающим дополнительную безопасность и комфорт.

    section.shopTestimonials
      .container
        h3 Отзывы
        .shopTestimonials__card
          .shopTestimonials__cardLeft
            .shopTestimonials__card__avatar E
          .shopTestimonials__cardRight
            .shopTestimonials__card__author Евгений Ротенберг
            .shopTestimonials__card__datetime 13:51, 21 января 2016
            .shopTestimonials__card__rating
              span 5
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .shopTestimonials__card__name Отзыв
            .shopTestimonials__card__review Отличная кардионагрузка и укрепление сердечно-сосудистой системы — используя данный тренажер вы стабилизируете кровяное давление, уменьшите риск заболеваний сердца и сосудов, снизите уровень холестерина. Укрепление мышц нижней части тела – ягодиц, ног, бедер. Регулярные тренировки помогут достичь высокого тонуса в мышцах и их подтянутого внешнего вида.
            a.shopTestimonials__card__more(href="#") Показать все

    //TECHNOLOGIES SLIDER
    section.shopSlider
      .container
        .heading
          .heading__name
            span Приемущества
        .row
          .owl-carousel.centrify-dots#owlTechMainpage
            .textSection__slide
              .textSection__content
                .textSection__title Полный контроль над тренировкой
                .textSection__description
                  p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
                .textSection__cta
                  a(href="#") Узнайте больше
              .textSection__image
                img(src="images/technologies.png")
            // next slide
            .textSection__slide
              .textSection__content
                .textSection__title Полный контроль над тренировкой
                .textSection__description
                  p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
                .textSection__cta
                  a(href="#") Узнайте больше
              .textSection__image
                img(src="images/technologies.png")
            // next slide
            .textSection__slide
              .textSection__content
                .textSection__title Полный контроль над тренировкой
                .textSection__description
                  p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
                .textSection__cta
                  a(href="#") Узнайте больше
              .textSection__image
                img(src="images/technologies.png")

    // FEATURED GOODS
    .container.mobileGoods
      .heading.mt50
        .heading__name
          span С этим товаром покупают

      .row.wrap
        .owl-carousel.centrify-dots#owlGoodFeatured
          // card
          .productMini
            a(href="#").productMini__image
              .productMini__sticker.productMini__sticker--promo
                span Акция
              img(src="images/productMini-1.png")
            .productMini__details
              .productMini__title SOLE TT8
              .productMini__category Беговая дорожка
              .productMini__rating
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star.ico-star--blank
              .productMini__availability
                i.ico.ico-stock.ico-stock--yes
                span В наличии
            .productMini__prices
              .productMini__priceOld
                span 45 999
                i.ico.ico-rub
              .productMini__priceNew
                span 31 999
                i.ico.ico-rub
              a(href="#").btn.btn-block.btn-black В корзину
              a(href="#").productMini__compare.productMini__compare--selected В сравнении
          // card
          .productMini
            a(href="#").productMini__image
              .productMini__sticker.productMini__sticker--hot
              img(src="images/productMini-2.png")
            .productMini__details
              .productMini__title SOLE TT8
              .productMini__category Беговая дорожка
              .productMini__rating
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star.ico-star--blank
              .productMini__availability
                i.ico.ico-stock.ico-stock--pending
                span Товар ожидается 20 февраля
            .productMini__prices
              .productMini__priceOld
                span 45 999
                i.ico.ico-rub
              .productMini__priceNew
                span 31 999
                i.ico.ico-rub
              a(href="#").btn.btn-block.btn-gray Предзаказ
              a(href="#").productMini__compare
                i.ico.ico-compare
                span Сравнить
          // card
          .productMini
            a(href="#").productMini__image
              img(src="images/productMini-3.png")
            .productMini__details
              .productMini__title SOLE TT8
              .productMini__category Беговая дорожка
              .productMini__rating
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star.ico-star--blank
              .productMini__availability
                i.ico.ico-stock.ico-stock--no
                span Нет в наличии
            .productMini__prices
              .productMini__priceOld
                span 45 999
                i.ico.ico-rub
              .productMini__priceNew
                span 31 999
                i.ico.ico-rub
              a(href="#").btn.btn-block.btn-gray Предзаказ
              a(href="#").productMini__compare
                i.ico.ico-compare
                span Сравнить
          // card
          .productMini
            a(href="#").productMini__image
              .productMini__sticker.productMini__sticker--promo
                span Акция
              img(src="images/productMini-4.png")
            .productMini__details
              .productMini__title SOLE TT8
              .productMini__category Беговая дорожка
              .productMini__rating
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star.ico-star--blank
              .productMini__availability
                i.ico.ico-stock.ico-stock--yes
                span В наличии
            .productMini__prices
              .productMini__priceOld
                span 45 999
                i.ico.ico-rub
              .productMini__priceNew
                span 31 999
                i.ico.ico-rub
              a(href="#").btn.btn-block.btn-red.btn--noBr В корзину
              a(href="#").productMini__compare
                i.ico.ico-compare
                span Сравнить

    // SIMILAR GOODS
    .whiteBg
      .container.mobileGoods
        .heading
          .heading__name
            span Аналогичные товары

        .row.wrap
          .owl-carousel.centrify-dots#owlGoodSimilar
            // card
            .productMini
              a(href="#").productMini__image
                .productMini__sticker.productMini__sticker--promo
                  span Акция
                img(src="images/productMini-1.png")
              .productMini__details
                .productMini__title SOLE TT8
                .productMini__category Беговая дорожка
                .productMini__rating
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star.ico-star--blank
                .productMini__availability
                  i.ico.ico-stock.ico-stock--yes
                  span В наличии
              .productMini__prices
                .productMini__priceOld
                  span 45 999
                  i.ico.ico-rub
                .productMini__priceNew
                  span 31 999
                  i.ico.ico-rub
                a(href="#").btn.btn-block.btn-black В корзину
                a(href="#").productMini__compare.productMini__compare--selected В сравнении
            // card
            .productMini
              a(href="#").productMini__image
                .productMini__sticker.productMini__sticker--hot
                img(src="images/productMini-2.png")
              .productMini__details
                .productMini__title SOLE TT8
                .productMini__category Беговая дорожка
                .productMini__rating
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star.ico-star--blank
                .productMini__availability
                  i.ico.ico-stock.ico-stock--pending
                  span Товар ожидается 20 февраля
              .productMini__prices
                .productMini__priceOld
                  span 45 999
                  i.ico.ico-rub
                .productMini__priceNew
                  span 31 999
                  i.ico.ico-rub
                a(href="#").btn.btn-block.btn-gray Предзаказ
                a(href="#").productMini__compare
                  i.ico.ico-compare
                  span Сравнить
            // card
            .productMini
              a(href="#").productMini__image
                img(src="images/productMini-3.png")
              .productMini__details
                .productMini__title SOLE TT8
                .productMini__category Беговая дорожка
                .productMini__rating
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star.ico-star--blank
                .productMini__availability
                  i.ico.ico-stock.ico-stock--no
                  span Нет в наличии
              .productMini__prices
                .productMini__priceOld
                  span 45 999
                  i.ico.ico-rub
                .productMini__priceNew
                  span 31 999
                  i.ico.ico-rub
                a(href="#").btn.btn-block.btn-gray Предзаказ
                a(href="#").productMini__compare
                  i.ico.ico-compare
                  span Сравнить
            // card
            .productMini
              a(href="#").productMini__image
                .productMini__sticker.productMini__sticker--promo
                  span Акция
                img(src="images/productMini-4.png")
              .productMini__details
                .productMini__title SOLE TT8
                .productMini__category Беговая дорожка
                .productMini__rating
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star.ico-star--blank
                .productMini__availability
                  i.ico.ico-stock.ico-stock--yes
                  span В наличии
              .productMini__prices
                .productMini__priceOld
                  span 45 999
                  i.ico.ico-rub
                .productMini__priceNew
                  span 31 999
                  i.ico.ico-rub
                a(href="#").btn.btn-block.btn-red.btn--noBr В корзину
                a(href="#").productMini__compare
                  i.ico.ico-compare
                  span Сравнить

    .shopAwards
      .container.text-center
        .shopAwards__title Наши награды
        img(src="images/awwards.png")
        .shopAwards__text
          p Тренажеры компании отвечают высоким стандартам качества и функциональности, что соответствует строгим требованиям современной высоко конкурентной отрасли фитнес оборудования.
        .textSection__cta
          a(href="#") Показать все

    include shared/footer.pug

    .up

    // MODAL
    .modal#modalCredit
      .modal__wrapper
        .modal__content
          .modal__close
            i.ico.ico-close
          .cart__uiGroup
            .cart__uiGroup__caption Купить в 1 клик
            .ui-input.ui-input--error
              input(type="text" placeholder="Ваше имя и фамилия")
              .ui-input__validation Заполните поле
            .ui-input
              input(type="email" placeholder="Email")
              .ui-input__validation Заполните поле
            .ui-input
              input(type="tel" placeholder="Номер телефона")
              .ui-input__validation Заполните поле

            a(href="#").btn.btn-block.btn-red.btn--noBr Купить в 1 клик
