doctype html
html
  include shared/head.pug

  body.lightBg
    include shared/header.pug

    // CONTACTS::START
    .container
      .breadcrumbs
        a(href="#") Продукция
        i.ico.ico-crumb-separator
        a(href="#") Беговые дорожки
        i.ico.ico-crumb-separator
        span Беговая дорожка Sole TT8

      // contacts
      .row
        .col40


    include shared/footer.pug
