doctype html
html
  include shared/head.pug

  body.lightBg
    include shared/header.pug

    // COMPARE::START
    .container
      .breadcrumbs
        a(href="#") Главная
        i.ico.ico-crumb-separator
        span Сравнение

      .compare
        .compare__row
          .compare__col
            .compare__nameBig Сравнение


        .compare__row





    include shared/footer.pug
